body {
  background-color: rgb(19, 19, 18);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  color: antiquewhite;
}

h1 {
  color: antiquewhite;
}

h2 {
  color: antiquewhite;
}

li {
  color: antiquewhite;
}

img {
  width: 50%;
  height: 900px;
  float: right;
  border: 0.25cm solid rgb(44, 49, 25);
}

.jumbotron {
  background-color: rgb(44, 49, 25);
  text-align: center;
  padding: 1cm;
}

.highlight {
  color:  rgb(172, 194, 92);
}

.nav-link {
  color: rgb(44, 49, 25);
}